{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel='stylesheet' type='text/css' href='{% static 'css/cars/gallery.css' %}'>
{% endblock %}
{% block content %}

    <section class="cars">
        <h2>Featured Cars</h2>
        <div class="car-grid">
            {% for car in cars %}

                <a href="{% url 'car-detail' car.id %}">
                    <div class="car-card">
                        <img src="{% static 'img/hq720-removebg-preview.png' %}" alt="Ahmad's Car" class="carImg">
                        <div class="car-info">
                            <h3>{{ car.name }} {{ car.year }}</h3>
                            <p>{{ car.description }}</p>
                            <button>Book a ride</button>
                        </div>
                    </div>
                </a>

            {% endfor %}
            
        </div>
    </section>
{% endblock %}