{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to <span>Ahmad's Garage</span></h1>
            <h5>Your Ultimate Destination for Luxury and Performance Cars</h5>

            
            <p>Ahmad's Garage is a premier destination for car enthusiasts and collectors.
                Founded by Ahmad, a passionate car lover, our garage offers a personal automotive collection hub 
                where car enthusiasts can catalog, manage, and showcase their dream vehicles.
                Our intuitive garage management system puts you in complete control of your automotive portfolio.
            </p>
        </div>
    </section>

{% endblock %}